.header-container{
    display: grid;
    grid-template-columns: 20% 70%;
    align-items: center;
    background-color:brown;
}
.logo-container img{
    width: 60px;
    margin-top: 8px;
}
.menu-container a{
    margin-left: 20px;
    text-decoration: none;
    font-family: cursive;
    font-weight: lighter;
}