body{
    background-color: #e5e5e5;
}


.lgd-pic{
    width: 490px;
    height: 220px;
    border-radius: 5px;
}
.name{
    color: brown;
    font-family: cursive;
}
.single-lgd{
    border: 1px solid gray;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 4px gray;
}
.single-lgd p{
    text-align: justify;
    margin: 10px;
    font-weight: lighter;
    font-family: cursive;
    color: cadetblue;
}